  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Leverage our experience!</h2>
          <hr class="light">
          <p class="text-faded">We have worked with diverse vertical spectrum, enabling us to help solve for organization of every size, be it a large enterprise, or a startup. </p>
          <p class="text-faded">
            Our passion is solving everyday human problems and embracing cutting edge technology.
          </p>
          <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
        </div>
      </div>
    </div>
  </section>
